/* Base16 Atelier Cave Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
.highlight
  background: #282c34
  color: #fff

  .code
    /* Atelier-Cave Comment */
    .comment, .quote
      color: #7e7887

    /* Atelier-Cave Red */
    .variable, .template-variable, .attribute, .regexp, .link, .tag, .name, .selector-id, .selector-class
      color: #be4678

    /* Atelier-Cave Orange */
    .number, .meta, .built_in, .builtin-name, .literal, .type, .params
      color: #f08d49

    /* Atelier-Cave Green */
    .string, .symbol, .bullet
      color: #7ec699

    /* Atelier-Cave Blue */
    .title, .section
      color: #67cdcc

    /* Atelier-Cave Purple */
    .keyword, .selector-tag
      color: #cc99cd

    .deletion, .addition
      display: inline-block
      width: 100%
      color: #19171c

    .deletion
      background-color: #be4678

    .addition
      background-color: #2a9292

    .emphasis
      font-style: italic

    .strong
      font-weight: bold
