<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            &copy; 2015-2022 <%= config.author %> | Elegant theme by Chic | <a href="https://stats.uptimerobot.com/J8kXJc8qlg" target="_blank">Status</a>
        </span>
    </div>
</footer>
